/*Global style*/
:root {
  --border-color: #E1E3F7;
  --background-color: #F4F5FF;
  --background-color-2: #fff;
  --fill-color: #090B2E;
}
*,::after,::before {
  margin: 0;
  box-sizing: border-box;
}
/*----Typography----*/
html {
  font-size: 62.5%;
}
body {
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 1.6rem;
  color: var(--fill-color);
}
h1 {
  font-size: 2rem;
}
/*----NavBar----*/
.navBar {
  background-color: var(--background-color-2);
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  box-shadow: 0 0 20px 2px #ddd;
}
.navBar__heading {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.navBar .icon {
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 4rem;
}
.navBar__links {
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  display: flex;
  flex: 1;
}
.navBar__links a {
  margin-right: 3rem;
  transition: all 0.2s ease;
  text-transform: capitalize;
  color: var(--fill-color);
  display: block;
  text-decoration: none;
}
.navBar__cartIcon {
  cursor: pointer;
  padding-right: 2rem;
  font-size: 4rem;
}
.navBar__links a:hover {
  color: lightblue;
}
.navBar__cartIcon:hover {
  color: lightblue;
}
/*----SubMenu----*/
.subMenu {
  color: var(--background-color-2);
  padding: 100px;
  border-radius: 4px;
  transition: all 1s ease;
  height: fit-content;
  position: fixed;
  background-color: var(--border-color);
  transform: translateX(-50%);
}
.subMenu--collapsed {
  display: none;
}